{% extends 'parent.html' %}

{% block title %}Signup - Electronic Shopping {% endblock %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title> Electronic shopping - Signup </title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="{% static 'css_login/style.css' %}" media="screen" type="text/css" />

</head>

<body>

  <div class="login-card">
    <h1>Sign-up</h1><br>
  <form>
    <input type="text" name="user" placeholder="Username">
    <input type="text" name="f_name" placeholder="first name:">
    <input type="tel" name="tel" placeholder="Mobile:">
    <input type="email" name="email" placeholder="email address:">
    <input type="password" name="pass" placeholder="Password">
    <input type="submit" name="signup" class="login login-submit" value="Create an account">
  </form>
     <div class="login-help">
        <a href="{% url 'login' %}">Login</a>
      </div>

  </div>

<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->

  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

</body>

</html>


{% endblock %}

